DATABASE_URL=postgresql://postgres:password@localhost:5432/tangerine_db
SECRET_KEY=your-super-secret-key-change-this
ALLOWED_ORIGINS=["http://localhost:3000","https://yourdomain.com"]
CLOUDINARY_CLOUD_NAME=dxsuoivw5
CLOUDINARY_API_KEY=947727829426647
CLOUDINARY_API_SECRET=A0ffjeCMGznEFX-G3GAwPUCobeM
